.Button {
  display: block;
  padding: 1rem;
  border-radius: var(--border-radius);
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  background: var(--teal);
  color: var(--white);
  user-select: none;
  &:hover{
    filter: brightness(1.1);
  }
  &[disabled] {
    cursor: default;
  }
}
